body {
  font-family: "roboto", sans-serif;
  background: rgba(100 , 100, 100, 0.5);
  color: rgb(248, 6, 6);
  font-size: 20px;
}

figure {
  width: 100vw;
  text-align: center;
  margin: 25px auto;
}

h1 {
  color: green;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

p {
font-size: 0.75rem;
}

/* responsive page */
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

section {
  font-size: 10px;
}

ul {
  padding: 0;
}

/* Navigation */
nav {
  background-color: white;
  padding: 10px 0;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

/* Generally focus goes with hover state to help with keyboard navigation and accessability */
.dropdown:focus ul,
.dropdown:hover ul {
  display: flex;
}

.dropdown ul {
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 5px 5px rgba(100, 100, 100, 0.5);
  padding: 8px;
  display: none;
  flex-direction: column;
  position: absolute
}
/* Hero */
header, header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  /* background-image: url(https://picsum.photos/1000/550)
  background-repeat: no-repeat;
  background-position: top center; */
  background: url(https://picsum.photos/1000/550) no-repeat top center;
  background-size: cover;
  height: 80vh;
}

header div {
  background: rgba(100, 100, 100, 0.5);
  width: 100%;
}

/* main */

main {
  display: flex;

}

main > section {
  margin: 10px;
  background: rgba(100, 100, 100, 0.5);
  padding: 15px;
  color: #333333;
}

main section h2 {
  text-transform: uppercase;
  font-weight: bold;
}

/* Footer */

footer li {
  display: inline-block;
}
