body {
  font-family: "roboto", sans-serif;
  background: rgba(100, 100, 100, 0.5);
  color: rgb(248, 6, 6);
  font-size: 20px;
}

h1 {
  color: green;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

p {
font-size: 0.75rem;
}

figure {
  width: 100vw;
  text-align: center;
  margin: 25px auto;
}

img {
  max-width: 100%;
}


